In [108]:
#inicializar a biblioteca
import pandas as pd
import numpy as np


print(pd.__version__)

1.2.4

# 1- DataFrames

## 1.1.1- Com base em arquivos existentes

In [109]:
df = pd.read_csv("dataset.csv", sep = ',', decimal='.', skiprows=None)
DF = pd.read_csv('dataset.csv', sep=',',skiprows=None, dtype={'ID ':int,'temperatura':float})
DF.head()

   Unnamed: 0 D/H Sample  ...  humidade  pressao
0     0        2...       ...  60.0      1...
1     1        2...       ...  88.0      1...
2     2        2...       ...  99.0     -99.0
3     3        2...       ...  84.0      1...
4     4        2...       ...  96.0      1...

[5 rows x 11 columns]

## 1.1.2- Sem referencia a arquivo

In [110]:
dates = pd.date_range('today', periods=6)
num_arr = np.random.randn(6,4)
columns = ['A','B','C','D']
df1 = pd.DataFrame(num_arr,index=dates, columns=columns)
df1

          A     B     C     D
20...  0...  0...  0... -0...
20...  2...  0...  1...  0...
20...  1... -0...  0... -0...
20... -0...  1... -0... -1...
20... -1... -0...  0... -0...
20... -0... -0...  1...  0...

## 1.2- Verificacao de dados

In [111]:
#df.tail()              # ultimas 5 iteraçoes
#df1.tail(3)            # ultimas 3 iteraçoes
#DF.head(10)            # primeiras 10 iteraçoes
#DF.info()              # memoria, tipo do campo, entradas nao-nulas, etc
#df.shape               # dimensoes do dataframe
#DF.dtypes              # tipo de dados no dataframe
type(df1.values[0][0]) # celula especifica do dataframe

numpy.float64

### 1.2.1.0-Exemplo de aplicaçao

In [112]:
print("Temos %0.f linhas e %0.f colunas"%(DF.shape[0], DF.shape[1])) #poderia ser 0.2

Temos 35662 linhas e 11 colunas

### 1.2.1.1- Operaçoes em Dataframes

In [113]:
# Colunas, indice, iteraçoes
df.columns
df.index
df.values

array([[0, '2021-12-01T18:00', 1210881, ..., 2.7, 60.0, 1022.8],
       [1, '2021-12-01T18:00', 1200533, ..., 5.5, 88.0, 1024.1],
       [2, '2021-12-01T18:00', 11217430, ..., 2.7, 99.0, -99.0],
       ...,
       [4115, '2021-12-09T00:00', 1240566, ..., 2.2, 87.0, -99.0],
       [4116, '2021-12-09T00:00', 1210874, ..., 2.7, 78.0, -99.0],
       [4117, '2021-12-09T00:00', 1210878, ..., 0.9, 85.0, 1028.1]],
      dtype=object)

In [114]:
# variavel categorica
df['D/H Sample'].unique()

array(['2021-12-01T18:00', '2021-12-01T12:00', '2021-11-30T23:00',
       '2021-12-01T11:00', '2021-12-01T05:00', '2021-12-01T03:00',
       '2021-12-01T07:00', '2021-12-01T17:00', '2021-12-01T20:00',
       '2021-12-01T00:00', '2021-11-30T22:00', '2021-11-30T21:00',
       '2021-12-01T01:00', '2021-12-01T15:00', '2021-12-01T06:00',
       '2021-12-01T02:00', '2021-12-01T09:00', '2021-12-01T16:00',
       '2021-12-01T10:00', '2021-12-01T08:00', '2021-12-01T14:00',
       '2021-12-01T04:00', '2021-12-01T19:00', '2021-12-01T13:00',
       '2021-12-02T08:00', '2021-12-02T04:00', '2021-12-02T07:00',
       '2021-12-02T19:00', '2021-12-02T20:00', '2021-12-02T09:00',
       '2021-12-02T01:00', '2021-12-02T10:00', '2021-12-02T15:00',
       '2021-12-02T17:00', '2021-12-02T11:00', '2021-12-02T03:00',
       '2021-12-02T18:00', '2021-12-02T12:00', '2021-12-02T13:00',
       '2021-12-02T00:00', '2021-12-02T06:00', '2021-12-02T16:00',
       '2021-12-01T22:00', '2021-12-02T21:00', '2021-12-02T14:00',
       '2021-12-02T02:00', '2021-12-01T23:00', '2021-12-02T05:00',
       '2021-12-03T17:00', '2021-12-03T09:00', '2021-12-02T22:00',
       '2021-12-03T19:00', '2021-12-03T02:00', '2021-12-03T11:00',
       '2021-12-03T00:00', '2021-12-03T20:00', '2021-12-03T05:00',
       '2021-12-03T18:00', '2021-12-03T14:00', '2021-12-03T08:00',
       '2021-12-03T03:00', '2021-12-03T10:00', '2021-12-03T16:00',
       '2021-12-03T06:00', '2021-12-03T04:00', '2021-12-03T12:00',
       '2021-12-03T15:00', '2021-12-03T07:00', '2021-12-03T01:00',
       '2021-12-02T23:00', '2021-12-03T21:00', '2021-12-03T13:00',
       '2021-12-03T23:00', '2021-12-04T06:00', '2021-12-04T12:00',
       '2021-12-04T05:00', '2021-12-04T20:00', '2021-12-04T11:00',
       '2021-12-04T17:00', '2021-12-04T21:00', '2021-12-04T09:00',
       '2021-12-04T13:00', '2021-12-04T03:00', '2021-12-04T14:00',
       '2021-12-04T19:00', '2021-12-03T22:00', '2021-12-04T15:00',
       '2021-12-04T01:00', '2021-12-04T16:00', '2021-12-04T02:00',
       '2021-12-04T04:00', '2021-12-04T18:00', '2021-12-04T00:00',
       '2021-12-04T10:00', '2021-12-04T07:00', '2021-12-04T08:00',
       '2021-12-04T22:00', '2021-12-05T16:00', '2021-12-05T09:00',
       '2021-12-05T13:00', '2021-12-05T04:00', '2021-12-05T11:00',
       '2021-12-05T06:00', '2021-12-05T03:00', '2021-12-05T12:00',
       '2021-12-05T14:00', '2021-12-05T05:00', '2021-12-05T20:00',
       '2021-12-05T00:00', '2021-12-05T17:00', '2021-12-05T02:00',
       '2021-12-05T18:00', '2021-12-05T08:00', '2021-12-05T15:00',
       '2021-12-05T10:00', '2021-12-05T01:00', '2021-12-05T07:00',
       '2021-12-05T21:00', '2021-12-04T23:00', '2021-12-05T19:00',
       '2021-12-06T14:00', '2021-12-06T04:00', '2021-12-06T02:00',
       '2021-12-06T09:00', '2021-12-06T20:00', '2021-12-06T18:00',
       '2021-12-06T06:00', '2021-12-06T12:00', '2021-12-06T01:00',
       '2021-12-05T22:00', '2021-12-06T17:00', '2021-12-06T07:00',
       '2021-12-06T03:00', '2021-12-06T08:00', '2021-12-06T13:00',
       '2021-12-06T15:00', '2021-12-06T21:00', '2021-12-05T23:00',
       '2021-12-06T11:00', '2021-12-06T05:00', '2021-12-06T16:00',
       '2021-12-06T19:00', '2021-12-06T00:00', '2021-12-06T10:00',
       '2021-12-07T08:00', '2021-12-07T16:00', '2021-12-07T02:00',
       '2021-12-07T11:00', '2021-12-07T07:00', '2021-12-07T17:00',
       '2021-12-06T22:00', '2021-12-07T13:00', '2021-12-07T18:00',
       '2021-12-07T03:00', '2021-12-07T05:00', '2021-12-06T23:00',
       '2021-12-07T21:00', '2021-12-07T01:00', '2021-12-07T15:00',
       '2021-12-07T06:00', '2021-12-07T09:00', '2021-12-07T10:00',
       '2021-12-07T00:00', '2021-12-07T20:00', '2021-12-07T04:00',
       '2021-12-07T14:00', '2021-12-07T12:00', '2021-12-07T19:00',
       '2021-12-08T11:00', '2021-12-08T05:00', '2021-12-08T12:00',
       '2021-12-08T19:00', '2021-12-08T06:00', '2021-12-08T00:00',
       '2021-12-08T18:00', '2021-12-08T04:00', '2021-12-08T14:00',
       '2021-12-08T09:00', '2021-12-08T03:00', '2021-12-07T23:00',
       '2021-12-08T08:00', '2021-12-08T21:00', '2021-12-08T02:00',
       '2021-12-08T16:00', '2021-12-08T01:00', '2021-12-08T15:00',
       '2021-12-08T13:00', '2021-12-07T22:00', '2021-12-08T17:00',
       '2021-12-08T07:00', '2021-12-08T20:00', '2021-12-08T10:00',
       '2021-12-09T15:00', '2021-12-09T02:00', '2021-12-09T08:00',
       '2021-12-08T23:00', '2021-12-09T07:00', '2021-12-09T16:00',
       '2021-12-09T10:00', '2021-12-09T01:00', '2021-12-09T18:00',
       '2021-12-09T04:00', '2021-12-09T13:00', '2021-12-08T22:00',
       '2021-12-09T21:00', '2021-12-09T06:00', '2021-12-09T11:00',
       '2021-12-09T14:00', '2021-12-09T05:00', '2021-12-09T03:00',
       '2021-12-09T09:00', '2021-12-09T19:00', '2021-12-09T12:00',
       '2021-12-09T17:00', '2021-12-09T20:00', '2021-12-09T00:00'],
      dtype=object)

In [115]:
# quantos dias e horas têm no meu dataset?
len(df['D/H Sample'].unique())

216

In [116]:
# quantos ID têm?
len(DF.ID.unique())

183

In [117]:
for index,row in df1.iterrows():
    print('index vs row:', index, row)
    print('Index', index)
    print('Row',row)

index vs row: 2021-12-15 12:49:10.648600 A    0...
B    0...
C    0...
D   -0...
Name: 2021-12-15 12:49:10.648600, dtype: float64
Index 2021-12-15 12:49:10.648600
Row A    0...
B    0...
C    0...
D   -0...
Name: 2021-12-15 12:49:10.648600, dtype: float64
index vs row: 2021-12-16 12:49:10.648600 A    2...
B    0...
C    1...
D    0...
Name: 2021-12-16 12:49:10.648600, dtype: float64
Index 2021-12-16 12:49:10.648600
Row A    2...
B    0...
C    1...
D    0...
Name: 2021-12-16 12:49:10.648600, dtype: float64
index vs row: 2021-12-17 12:49:10.648600 A    1...
B   -0...
C    0...
D   -0...
Name: 2021-12-17 12:49:10.648600, dtype: float64
Index 2021-12-17 12:49:10.648600
Row A    1...
B   -0...
C    0...
D   -0...
Name: 2021-12-17 12:49:10.648600, dtype: float64
index vs row: 2021-12-18 12:49:10.648600 A   -0...
B    1...
C   -0...
D   -1...
Name: 2021-12-18 12:49:10.648600, dtype: float64
Index 2021-12-18 12:49:10.648600
Row A   -0...
B    1...
C   -0...
D   -1...
Name: 2021-12-18 12:49:10.648600, dtype: float64
index vs row: 2021-12-19 12:49:10.648600 A   -1...
B   -0...
C    0...
D   -0...
Name: 2021-12-19 12:49:10.648600, dtype: float64
Index 2021-12-19 12:49:10.648600
Row A   -1...
B   -0...
C    0...
D   -0...
Name: 2021-12-19 12:49:10.648600, dtype: float64
index vs row: 2021-12-20 12:49:10.648600 A   -0...
B   -0...
C    1...
D    0...
Name: 2021-12-20 12:49:10.648600, dtype: float64
Index 2021-12-20 12:49:10.648600
Row A   -0...
B   -0...
C    1...
D    0...
Name: 2021-12-20 12:49:10.648600, dtype: float64

## 1.3-operaçoes no Dataframe

### 1.3.1- Dataframe transposto

In [118]:
df2=df1.T
df2

,2021-12-15 12:49:10.648600,2021-12-16 12:49:10.648600,...,2021-12-19 12:49:10.648600,2021-12-20 12:49:10.648600
A,0...,2...,...,-1...,-0...
B,0...,0...,...,-0...,-0...
C,0...,1...,...,0...,1...
D,-0...,0...,...,-0...,0...

### 1.3.2- Operaçoes em colunas / Column Operations

#### 1.3.2.1- Adicionar coluna /Add Column

In [119]:
DF['Total']=DF['temperatura']+DF['radiacao']
print('DF\n',DF.columns)

DF
 Index(['Unnamed: 0', 'D/H Sample', 'ID', 'intensidadeVentoKM', 'temperatura',
       'radiacao', 'idDireccVento', 'precAcumulada', 'intensidadeVento',
       'humidade', 'pressao', 'Total'],
      dtype='object')

#### 1.3.2.2- Retirar coluna /Delete Column

In [120]:
DF = DF.drop(columns=['Total'])  #para retirar a coluna criada
print('DF\n',DF.columns)

DF
 Index(['Unnamed: 0', 'D/H Sample', 'ID', 'intensidadeVentoKM', 'temperatura',
       'radiacao', 'idDireccVento', 'precAcumulada', 'intensidadeVento',
       'humidade', 'pressao'],
      dtype='object')

#### 1.3.2.4- Alterar a posiçao da coluna

In [121]:
# alterar a locazilacao da coluna -2
cols=list(DF.columns.values)
DF = DF[[cols[0]] +[cols[-1]]+cols[1:10]]
print(DF.columns)

Index(['Unnamed: 0', 'pressao', 'D/H Sample', 'ID', 'intensidadeVentoKM',
       'temperatura', 'radiacao', 'idDireccVento', 'precAcumulada',
       'intensidadeVento', 'humidade'],
      dtype='object')

#### 1.3.2.9- Operaçoes gerais / Generic operation

In [122]:
cols = DF.columns.values
print('colunas:',cols)
print('tipo da variavel',type(cols))
list_cols = list(DF.columns.values)
print('Guardar como lista',type(list_cols))

colunas: ['Unnamed: 0' 'pressao' 'D/H Sample' 'ID' 'intensidadeVentoKM'
 'temperatura' 'radiacao' 'idDireccVento' 'precAcumulada'
 'intensidadeVento' 'humidade']
tipo da variavel <class 'numpy.ndarray'>
Guardar como lista <class 'list'>

## 1.4- Parametros de exibição

### 1.4.0 -verificar o que existe

In [123]:
df.info()  #informaçao
df.columns #colunas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35662 entries, 0 to 35661
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          35662 non-null  int64
 1   D/H Sample          35662 non-null  object
 2   ID                  35662 non-null  int64
 3   intensidadeVentoKM  35662 non-null  float64
 4   temperatura         35662 non-null  float64
 5   radiacao            35662 non-null  float64
 6   idDireccVento       35662 non-null  int64
 7   precAcumulada       35662 non-null  float64
 8   intensidadeVento    35662 non-null  float64
 9   humidade            35662 non-null  float64
 10  pressao             35662 non-null  float64
dtypes: float64(7), int64(3), object(1)
memory usage: 3.0+ MB

Index(['Unnamed: 0', 'D/H Sample', 'ID', 'intensidadeVentoKM', 'temperatura',
       'radiacao', 'idDireccVento', 'precAcumulada', 'intensidadeVento',
       'humidade', 'pressao'],
      dtype='object')

### 1.4.1- Alterar o indice do Dataframe

In [124]:
df.set_index('temperatura')
df.set_index(['temperatura','radiacao','pressao'])

                   Unnamed: 0 D/H Sample  ...  intensidadeVento  humidade
te... ra... pr...                         ...
16.5  -99.0  1...     0        2...       ...   2.7              60.0
14.8  -99.0  1...     1        2...       ...   5.5              88.0
15.3   1... -99.0     2        2...       ...   2.7              99.0
8.6    4.0   1...     3        2...       ...   1.5              84.0
7.3   -99.0  1...     4        2...       ...   1.1              96.0
...                 ...         ...       ...   ...               ...
5.4   -99.0 -99.0  4113        2...       ...   1.8              94.0
8.7    0.0  -99.0  4114        2...       ...   1.8             -99.0
7.5   -99.0 -99.0  4115        2...       ...   2.2              87.0
11.2  -99.0 -99.0  4116        2...       ...   2.7              78.0
11.4   0.0   1...  4117        2...       ...   0.9              85.0

[35662 rows x 8 columns]

### 1.4.2- Definir os parametros de exibição

In [125]:
pd.set_option("max_colwidth", 5)
pd.set_option("max_rows", 10)
pd.set_option("max_columns", 4)

pd.get_option('max_colwidth')  # exibir

5

In [126]:
display(df)

      Unnamed: 0 D/H Sample  ...  humidade  pressao
0        0        2...       ...  60.0      1...
1        1        2...       ...  88.0      1...
2        2        2...       ...  99.0     -99.0
3        3        2...       ...  84.0      1...
4        4        2...       ...  96.0      1...
...    ...         ...       ...   ...       ...
3...  4113        2...       ...  94.0     -99.0
3...  4114        2...       ... -99.0     -99.0
3...  4115        2...       ...  87.0     -99.0
3...  4116        2...       ...  78.0     -99.0
3...  4117        2...       ...  85.0      1...

[35662 rows x 11 columns]

## 1.5- Formatacao condicional de celulas do dataframe

### 1.5.1- Formataçao da letra

In [127]:

def color_negative_red(value):
    color = 'red' if value < 13.5 else 'black'
    return 'color: %s'%color # seria como se eu tivesse fazendo return 'color: red' ou return 'color: black'

df[['temperatura']].head().style.applymap(color_negative_red)   #a cada elemento

In [128]:
exemplo_df = df.head(5)
exemplo_df.style.applymap(color_negative_red, subset=['temperatura', 'intensidadeVentoKM'])

### 1.5.2- Formataçao da celula

In [129]:
def highlight_max(value):
    is_max = value == value.max() # value==value.max(), depois guardei em is_max
    return ['background-color: yellow' if v else '' for v in is_max]

df.head(10).style.apply(highlight_max, subset=['temperatura', 'intensidadeVentoKM','radiacao'])

In [130]:
def color_negative_red(value):
    color = 'red' if value < 13 else 'green'
    return 'color: %s'%color # seria como se eu tivesse fazendo return 'color: red' ou return 'color: black'

df[['temperatura']].head(10).style.applymap(color_negative_red).apply(highlight_max)